@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 ">
                            <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-all" data-toggle="modal" data-target="#modalData"><i class="fas fa-plus-circle"></i> Nuevo Producto</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                                        <thead class="table-head">
                                            <tr>
                                                <th>Id</th>
                                                <th>Imagen</th>
                                                <th>Codigo Barra</th>
                                                <th>Marca</th>
                                                <th>Descripcion</th>
                                                <th>Categoria</th>
                                                <th>Stock</th>
                                                <th>Precio</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row">
                                                <td>1</td>
                                                <td><img style="height:60px ;" src="https://compraenlineacr.com/wp-content/uploads/2020/05/VOLIO-250.png" class="rounded mx-auto d-block" /></td>
                                                <td>12312312</td>
                                                <td>Volio</td>
                                                <td>Cafe volio 250g</td>
                                                <td>Cafe</td>
                                                <td>100</td>
                                                <td>₡2800</td>
                                                <td><span class="badge badge-info">Activo</span></td>
                                                <td>
                                                    <button class="btn btn-all btn-sm" data-toggle="modal" data-target="#modalEditarProducto">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                    <button class="btn btn-exit btn-sm" data-toggle="modal" data-target="#modalEliminarProducto">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="table-row">
                                                <td>2</td>
                                                <td><img style="height:60px ;" src="https://walmartcr.vtexassets.com/arquivos/ids/371861/Pan-Bimbo-Sandwich-Blaco-Xg-720gr-1-30675.jpg?v=638072446247870000" class="rounded mx-auto d-block" /></td>
                                                <td>123124345</td>
                                                <td>Bimbo</td>
                                                <td>Pan Blanco Bimbo Sandwich XG</td>
                                                <td>Pan</td>
                                                <td>200</td>
                                                <td>₡1500</td>
                                                <td><span class="badge badge-danger">No Activo</span></td>
                                                <td>
                                                    <button class="btn btn-all btn-sm" data-toggle="modal" data-target="#modalEditarProducto">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                    <button class="btn btn-exit btn-sm" data-toggle="modal" data-target="#modalEliminarProducto">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Modal Agregar Producto -->
                    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Detalle Producto</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" value="0" id="txtId">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCodigoBarra">Codigo Barra</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCodigoBarra" name="Codigo Barra">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtMarca">Marca</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtMarca" name="Marca">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtDescripcion">Descripcion</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcion" name="Descripcion">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboCategoria">Categoria</label>
                                                        <select class="form-control form-control-sm" id="cboCategoria">
                                                            <option value="0">seleccionar</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtStock">Stock</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtStock" name="Stock">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtPrecio">Precio</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtPrecio" name="Precio">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboEstado">Estado</label>
                                                        <select class="form-control form-control-sm" id="cboEstado">
                                                            <option value="1">Activo</option>
                                                            <option value="0">No Activo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtImagen">Imagen</label>
                                                        <input class="form-control-file" type="file" id="txtImagen" />
                                                    </div>
                                                </div>
                                            </div>
                                           

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-all btn-sm" type="button" id="btnGuardar">Guardar</button>
                                    <button class="btn btn-exit btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Modal Editar Producto -->
                    <div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Editar Producto</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" value="id_producto_aqui" id="txtIdEditar">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCodigoBarraEditar">Codigo Barra</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCodigoBarraEditar" name="Codigo Barra">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtMarcaEditar">Marca</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtMarcaEditar" name="Marca">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtDescripcionEditar">Descripcion</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcionEditar" name="Descripcion">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboCategoriaEditar">Categoria</label>
                                                        <select class="form-control form-control-sm" id="cboCategoriaEditar">
                                                            <option value="0">seleccionar</option>
                                                            <!-- Las opciones deberán ser generadas dinámicamente -->
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtStockEditar">Stock</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtStockEditar" name="Stock">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtPrecioEditar">Precio</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtPrecioEditar" name="Precio">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboEstadoEditar">Estado</label>
                                                        <select class="form-control form-control-sm" id="cboEstadoEditar">
                                                            <option value="1">Activo</option>
                                                            <option value="0">No Activo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtImagenEditar">Imagen</label>
                                                        <input class="form-control-file" type="file" id="txtImagenEditar" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <img id="imgProductoEditar" style="max-width:200px;" src="imagen_del_producto_aqui" class="rounded mx-auto d-block" alt="Imagen del Producto">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-all btn-sm" type="button" id="btnGuardarEditar">Guardar Cambios</button>
                                    <button class="btn btn-exit btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Modal Eliminar Producto -->
                    <div class="modal fade" id="modalEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEliminarProductoLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEliminarProductoLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro de que deseas eliminar este producto?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-all" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-exit">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>



    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>


</html>



    @model IEnumerable<PuntoVentaWeb.Entities.ProductoEnt>

@{
    ViewData["Title"] = "Consultar Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p>
                        <a class="btn btn-all" href="@Url.Action("RegistrarProducto", "Producto")">
                            <i class="fa fa-plus"></i> Nuevo Producto
                        </a>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead class="thead">
                            <tr class="table-head">
                                <th>
                                    @Html.DisplayNameFor(model => model.First().IdProducto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Precio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Stock)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().IdCategoria)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-row">
                                    <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdCategoria)</td>

                                    <td>
                                        <a class="btn btn-success btn-sm" href="@Url.Action("ActualizarProducto", "Producto", new { IdProducto = item.IdProducto })">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger btn-sm passingID" data-toggle="modal" data-target="#exampleModal"
                                                data-id="@item.IdProducto" data-name="@item.Nombre">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("EliminarProducto", "Producto", FormMethod.Post))
                {
                    <div class="modal-body">
                        <input type="hidden" id="IdProducto" name="IdProducto" value="">
                        <p id="Question" style="font-weight: bold;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Procesar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(".passingID").click(function () {
                $("#IdProducto").val($(this).data('id'));
                $("#Question").text("¿Desea eliminar el producto: " + $(this).data('name') + "?");
            });
        </script>
    }
