@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon">
                    <i><img src="~/img/logo.png" style="max-width: 60%; max-height: 60%;" /></i>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link  " asp-controller="Home" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio</span>
                </a>
            </li>

            <!-- Nav Item - Admnistración Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministracion"
                   aria-expanded="true" aria-controls="collapseAdministracion">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Admnistración</span>
                </a>
                <div id="collapseAdministracion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Proveedores", "Proveedores")">Proveedores</a>
                        <a class="collapse-item" href="@Url.Action("Usuarios", "Usuarios")">Usuarios</a>
                        <a class="collapse-item" href="@Url.Action("Login", "Login")">Login</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item - Inventario Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventario"
                   aria-expanded="true" aria-controls="collapseInventario">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Inventario</span>
                </a>
                <div id="collapseInventario" class="collapse" aria-labelledby="headingInventario" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Producto", "Productos")">Productos</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item - Venta Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVenta"
                   aria-expanded="true" aria-controls="collapseVenta">
                    <i class="fas fa-fw fa-tags"></i>
                    <span>Ventas</span>
                </a>
                <div id="collapseVenta" class="collapse" aria-labelledby="headingInventario" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Carrito", "Carrito")">Carrito</a>
                        <a class="collapse-item" href="@Url.Action("HistorialVenta", "HistorialVenta")">Historial Venta</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Reportes Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"
                   aria-expanded="true" aria-controls="collapseReportes">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseReportes" class="collapse" aria-labelledby="headingInventario" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Reportes", "Reportes")">Reporte Venta</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">ADMIN</span>
                                <img class="img-profile rounded-circle"
                                     src="https://media.licdn.com/dms/image/D4E03AQGB7uyxtc_y9A/profile-displayphoto-shrink_800_800/0/1712626625641?e=1718236800&v=beta&t=UZR4ysjhZXM8lVnkIOb9Rk99pjtAhAYLw7XmXMJTRBQ">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Perfil", "Login")">Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Botón para abrir el modal de Agregar Proveedor -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 ">
                            <h6 class="m-0 font-weight-bold text-white">Lista de Proveedores</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-all" data-toggle="modal" data-target="#modalAgregarProveedor"><i class="fas fa-plus-circle"></i> Nuevo Proveedor</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered " id="tbdata" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Imagen</th>
                                                <th>Numero de documento</th>
                                                <th>Razon Social</th>
                                                <th>Correo</th>
                                                <th>Direccion</th>
                                                <th>Telefono</th>
                                                <th>Impuesto</th>
                                                <th>Simbolo Moneda</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row">
                                                <td>1</td>
                                                <td><img style="height:60px ;" src="https://media.licdn.com/dms/image/D4E03AQGB7uyxtc_y9A/profile-displayphoto-shrink_800_800/0/1712626625641?e=1718236800&v=beta&t=UZR4ysjhZXM8lVnkIOb9Rk99pjtAhAYLw7XmXMJTRBQ" class="rounded mx-auto d-block" /></td>
                                                <td>208580782</td>
                                                <td>Agrandar mas la industria</td>
                                                <td>axelcabezas@gmail.com</td>
                                                <td>Upala calle 1232</td>
                                                <td>92148919429</td>
                                                <td>20%</td>
                                                <td>₡</td>
                                                <td>
                                                    <button class="btn btn-all btn-sm" data-toggle="modal" data-target="#modalEditarProveedor">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalEliminarProveedor">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="table-row">
                                                <td>2</td>
                                                <td><img style="height:60px ;" src="https://blog.priceplow.com/wp-content/uploads/revive-md-chris-bumstead-gym.jpg" class="rounded mx-auto d-block" /></td>
                                                <td>118890098</td>
                                                <td>Agrandar mas la industria</td>
                                                <td>enzoquesada@gmail.com</td>
                                                <td>Edificio kabat </td>
                                                <td>85793990</td>
                                                <td>20%</td>
                                                <td>₡</td>
                                                <td>
                                                    <button class="btn btn-all btn-sm" data-toggle="modal" data-target="#modalEditarProveedor">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalEliminarProveedor">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                   

                    <!-- Aquí irían los modales de agregar, editar y eliminar proveedores -->
                    <div class="modal fade" id="modalAgregarProveedor" tabindex="-1" role="dialog" aria-labelledby="modalAgregarProveedorLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalAgregarProveedorLabel">Agregar Proveedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="numeroDocumento">Número Documento</label>
                                                <input type="text" class="form-control" id="numeroDocumento" >
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="razonSocial">Razón Social</label>
                                                <input type="text" class="form-control" id="razonSocial" >
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="correoProveedor">Correo</label>
                                                <input type="email" class="form-control" id="correoProveedor" >
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="direccionProveedor">Dirección</label>
                                                <input type="text" class="form-control" id="direccionProveedor" >
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="telefonoProveedor">Teléfono</label>
                                                <input type="tel" class="form-control" id="telefonoProveedor" >
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="impuestoProveedor">% Impuesto</label>
                                                <input type="text" class="form-control" id="impuestoProveedor">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="simboloMonedaProveedor">Símbolo Moneda</label>
                                                <input type="text" class="form-control" id="simboloMonedaProveedor">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="logoProveedor">Logo</label>
                                                <input type="file" class="form-control-file" id="logoProveedor">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-all" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-all">Guardar Proveedor</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aquí irían los modales de agregar, editar y eliminar proveedores -->
                    <!-- Modal para Editar Detalles del Proveedor -->
                    <div class="modal fade" id="modalEditarProveedor" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Editar Proveedor</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <!-- Supongamos que necesitas un campo oculto para el ID del proveedor -->
                                        <input type="hidden" value="id_proveedor_aqui" id="txtIdEditarProveedor">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <!-- Número Documento y Razón Social -->
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtNumeroDocumentoEditar">Número Documento</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtNumeroDocumentoEditar" name="NumeroDocumento">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtRazonSocialEditar">Razón Social</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtRazonSocialEditar" name="RazonSocial">
                                                    </div>
                                                </div>
                                                <!-- Correo y Dirección -->
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCorreoEditar">Correo</label>
                                                        <input type="email" class="form-control form-control-sm" id="txtCorreoEditar" name="Correo">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtDireccionEditar">Dirección</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtDireccionEditar" name="Direccion">
                                                    </div>
                                                </div>
                                                <!-- Teléfono y % Impuesto -->
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtTelefonoEditar">Teléfono</label>
                                                        <input type="tel" class="form-control form-control-sm" id="txtTelefonoEditar" name="Telefono">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtImpuestoEditar">% Impuesto</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtImpuestoEditar" name="Impuesto">
                                                    </div>
                                                </div>
                                                <!-- Símbolo Moneda y Logo -->
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtSimboloMonedaEditar">Símbolo Moneda</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtSimboloMonedaEditar" name="SimboloMoneda">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="fileLogoEditar">Logo</label>
                                                        <input type="file" class="form-control-file" id="fileLogoEditar">
                                                        <!-- Aquí podrías agregar una vista previa del logo actual si lo consideras necesario -->
                                                        <td><img style="height:60px ;" src="https://media.licdn.com/dms/image/D4D03AQEelNq_oa2gKg/profile-displayphoto-shrink_800_800/0/1669796244950?e=1717632000&v=beta&t=RTBub-saivccjYnUx4khkRjDMwf_Y-1SHvGyP6iiQRw" class="rounded mx-auto d-block" /></td>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-all btn-sm" type="button" id="btnGuardarCambiosProveedor">Guardar Cambios</button>
                                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal para Confirmar la Eliminación del Proveedor -->
                    <div class="modal fade" id="modalEliminarProveedor" tabindex="-1" role="dialog" aria-labelledby="modalEliminarProveedorLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEliminarProveedorLabel">Eliminar Proveedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas eliminar a este proveedor?</p>
                                    <!-- Aquí puedes añadir más detalles si es necesario -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-all" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
       
        <!-- End of Content Wrapper -->
    </div>

    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>

</body>

</html>